body,
html {
    overflow: hidden;
    margin: 0;
}

h1 {
    text-align: center;
    display: inline;
}
canvas {
    // width: 1500px;
    // height: 1500px;
    border: 1px solid #bada55;
    margin: auto;
    display: block;
}
